.ListItem{
    display: flex;
    flex-direction: row;
    background-color: rgb(211, 214, 214);
    border-radius: 15px;
    margin: 2px 0px;
}
.ListItem_div70{
    width: 70%;
    padding: 8px 8px 0px 8px;
}
.ListItem_div30{
    width: 25%;
    text-align: center;
    color: white !important;
}