.btn_green{
    padding: 4px 5px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(1, 114, 14);
    border:none;
    color: white;
    border-radius: 5px; 
    cursor: pointer; 
}
.btn_green:hover{
    background-color: rgb(76, 186, 94);
    font-weight: bold;
}